<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/public/assets/css/styles.css">
</head>

<body>
    <% include partials/nav.ejs %>
        <h1>about cuden</h1>
        <p>dfadsfdsfdsafas</p>
</body>

</html>