<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <header>
        <h1>An important heading</h1>
        <a href="">More...</a>
    </header>
    <% include partials/nav.ejs %>
        <h1>about</h1>
        <p>dsadsadsadsad</p>
        <% include partials/footer.ejs %>
</body>

</html>