<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <header>
        <h1>An important heading</h1>
        <a href="">More...</a>
    </header>
    <% include partials/nav.ejs %>
        <h1>Contact cuden</h1>

        <form action="/contact" method="POST" id="contact-form">
            <label for="who">Who do you want to contact?</label>
            <input type="text" name="who" value="<%= qs.person %>">
            <label for="email">What is your email?</label>
            <input type="email" name="email" value="">
            <label for="message">What is your message?</label>
            <textarea name="message" id="txtMessage" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>
        </form>
        <% include partials/footer.ejs %>
            <% include partials/scripts.ejs %>
</body>

</html>