<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <header>
        <h1>An important heading</h1>
        <a href="">More...</a>
    </header>
    <% include partials/nav.ejs %>
        <h1>Contact success</h1>
        <h3>Thank you for your comment!</h3>
        <p>You contacted
            <%= data.who %> and your message was: "
                <%= data.message %>"</p>
        <p>cuden will reply to you at:
            <%= data.email %>
        </p>
        <% include partials/footer.ejs %>
            <% include partials/footer.ejs %>
</body>

</html>