<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <header>
        <h1>An important heading</h1>
        <a href="">More...</a>
    </header>
    <% include partials/nav.ejs %>

        <section id="main">
            <h3>first node app</h3>
            <p>welcome to my first site</p>
        </section>

        <% include partials/footer.ejs %>
            <% include partials/scripts.ejs %>
</body>

</html>