<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <% include partials/nav.ejs %>
        <h1>cuden first node app</h1>
        <p>welcome to my first site</p>
</body>

</html>