<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <% include partials/head.ejs %>

</head>

<body>
    <% include partials/header.ejs %>
        <% include partials/nav.ejs %>
            <h1>cuden first node app</h1>
            <p>welcome to my first site</p>
            <% include partials/footer.ejs %>
</body>

</html>