/*IMPORT*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

/* Main layout rules */
html {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    text-align: center;
    margin-bottom: 120px;
}

section {
  width: 100%;
}

/* Header rules */
header {
  background-image: url("/public/img/header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #333;
  text-align: center;
  width: 100vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a {
  border: 1px solid #4D7EA8;
  border-radius: 999px;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #4D7EA8;
  color: white;
}

/* Navigation rules */
nav {
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

/* Footer rules */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  background-color: #333;
  width: 100%;
}

footer p {
  color: white;
}

/*CUSTOM CSS*/
.todoList:hover {
  text-decoration: line-through;
}