<!DOCTYPE html>
<html>

<head>
    <title>Product</title>
    <style>
        main {
            display: flex;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        input {
            display: block;
        }
    </style>
</head>

<body>
    <main>
        <h1>Add new product</h1>
        <form action="/crud/new" method="POST">
            <label for="brand">Brand:</label>
            <input type="text" name="brand" id="brand" required>

            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
            
            <label for="desc">Description:</label>
            <input type="text" name="desc" multiple="multiple" id="desc">

            <label for="price">Price:</label>
            <input type="number" name="price" id="price" step="0.01" min="0" required>

            <label for="stock">Stock:</label>
            <input type="number" name="stock" min="0" id="stock">

            <button type="submit">Submit</button>
            <a href="/crud">Back</a>
        </form>
        </section>
    </main>
</body>

</html>