<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="/public/js/todo.js"></script>
</head>

<body>
    <header>
        <h1>An important heading</h1>
    </header>
    <% include ../partials/nav.ejs %>

    
        <h1>todo list</h1>
        <pre>a really badly made todo app with really bad UX
        click on item to remove</pre>
        <form>
            <input type="text" name="item" placeholder="Add new item..." required />
            <button type="submit">Add Item</button>
        </form>
        <ul class="strikethrough" style="list-style-type: none;">
            <% for(var i=0; i < todos.length; i++){ %>
                <li><h3><%= todos[i].item %></h3></li>
            <% } %>
        </ul>

    <% include ../partials/footer.ejs %>
</body>

</html>